<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zgc.springtrans.mapper.AcctMapper">
    <update id="transIn">
        update acct set balance = balance + #{balance}
        <where>
            acct_name = #{acctName}
        </where>
    </update>

    <update id="transOut">
        update acct set balance = balance - #{balance}
        <where>
            acct_name = #{acctName}
        </where>
    </update>

    <select id="selectBalance" parameterType="string" resultType="long">
        select balance from acct where acct_name = #{acctName}
    </select>

    <insert id="insert">
        insert into acct values (null,#{acctName},#{balance})
    </insert>
</mapper>